body {
  background: linear-gradient(to bottom right, #001f3f, #0074D9);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  margin: 0;
  padding: 20px;
  background-image: url(assets/fondo_qui.png);
  background-size: contain;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  background-color: rgba(32, 20, 20, 0.6);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  
}

h1, h2 {
  text-align: center;
  color: #ffcc00;
  margin-bottom: 10px;
}

ul {
  font-size: 1.1em;
  line-height: 1.7;
  padding-left: 25px;
}

#formularioQuiniela {
 
}

.bracket {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
}

.round {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.match {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 8px;
  width: 180px;
  text-align: center;
  font-weight: bold;
}

.logo-container {
  display: flex;
  justify-content: space-around;
  margin-top: 8px;
}

.logo {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 50%;
}

.logo.selected {
  border: 2px solid #ffcc00;
  background-color: rgba(255, 204, 0, 0.2);
}

.marcadores {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.marcadores input {
  width: 40%;
  text-align: center;
  font-weight: bold;
}

button {
  margin: 20px auto;
  display: block;
  padding: 10px 20px;
  background-color: #ffcc00;
  color: #000;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

#resultado {
  margin-top: 20px;
  text-align: center;
  background: #fff;
  color: #000;
  padding: 15px;
  border-radius: 10px;
  font-size: 1.1em;
}
